.searchBox{
    border:1px solid #6a09b5;
    background-repeat: no-repeat;
    background-position: 10px center;
    height: 50px;
}

.searchIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.searchAll {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 12rem;
    justify-content: center;
    position: relative;
}