@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #383838;
}

.footerContainer {
    font-family:'Montserrat';
    font-size: 18px;
    color: #383838;
}

.footerTop {
    background-color: #D9D9D9;
    padding: 30px 30px;
    display: flex;
    flex-wrap: wrap;
}

.footerBlock:nth-child(2) {
    margin-top: 30px;
}

.footerBlock:last-child {
    margin-top: 30px;
}

.footerBlock {
    width: 100%;
}

.footerBlock h3 {
    color: #6A09B5;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    margin-top: 0px;
    text-align: left;
    margin-bottom: 20px;
}

.footerBlock .logo {
    width: 250px;
}

.footerBlock ul li a {
    text-transform: uppercase;
    transition: 0.4s;
}

.footerBlock ul li a:hover {
    color: #6A09B5;
}

.subFooter {
    background-color: #6A09B5;
    padding: 15px 30px;
}

.footerMenuList li {
    padding: 3px 0;
}

.footerSocialList {
    display: flex;
}

.footerSocialList li {
    padding: 0 15px;
}

.footerSocialList li:first-child{
    padding-left: 0;
}

.footerSocialList li:last-child{
    padding-right: 0;
}

.footerSocialList img {
    width: 40px;
    filter: invert(19%) sepia(0%) saturate(1695%) hue-rotate(182deg) brightness(102%) contrast(93%);
    transition: 0.4s;
}

.footerSocialList img:hover{
    filter: invert(17%) sepia(83%) saturate(4641%) hue-rotate(271deg) brightness(69%) contrast(114%);
}

.subFooter ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.subFooter ul li{
    padding: 5px 15px;
}

.subFooter ul li a{
    color: white;
    transition: 0.4s;
    font-size: 14px;
}

.subFooter ul li a:hover{
    opacity: 0.5;
}


@media (min-width: 768px) {

    .footerBlock {
        padding: 0 30px;
        text-align: left;
    }

    .footerBlock:first-child {
        width: 49%;
        padding-left: 0;
    }

    .footerBlock:nth-child(2) {
        width: 49%;
        padding-right: 0;
        margin-top: 0;
    }
    
    .footerBlock:last-child {
        width: 100%;
        margin-top: 45px;
    }

    .footerBlock:last-child h3 {
        text-align: center;
    }

    .footerSocialList {
        justify-content: center;
    }
  
  }

  @media (min-width: 993px) {

    .footerTop {
        flex-wrap: nowrap;
        padding: 45px 87px;
    }

    .footerBlock {
        width: 33.3%;
    }

        .footerBlock:first-child {
        width: 33.3%;
        padding-left: 0;
        padding-right: 45px;
    }

    .footerBlock:nth-child(2) {
        width: 33.3%;
        padding-right: 0;
        padding-left: 0;
        margin-top: 0;
    }

    .footerBlock:last-child {
        width: 33.3%;
        padding-left: 45px;
        padding-right: 0;
        margin-top: 0;
    }

    .footerBlock:last-child h3 {
        text-align: left;
    }

    .footerSocialList {
        justify-content: flex-start;
    }

    .subFooter {
        padding: 15px 87px;
    }

}