#navbar {
    display: flex;
    align-items: center!important;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: 25px;
}

#navbar li {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 auto 0 auto;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 450;
    color: black;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    color: #6A09B5;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 20%;
    height: 2px;
    background: #6A09B5;
    position: absolute;
    bottom: -4px;
    left: 0px;
}

#mobile {
    display: none;
}

#mobile i {
    color: black;
}

@media screen and (max-width:769px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: row;
    }
}