.mainIcons {
    border-bottom: 1px solid #6a09b5;
    display: flex;
    justify-content: space-between;
    padding: 9px 87px;
}

.toggleMenu {
    display: none;
}

.rightIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart {
    height: 1.3rem;
    padding-right: 20px;
}

.headerMobile {
    display: none;
}

@media screen and (max-width:769px){

    .rightIcons {
        display: none;
    }

    .mainIcons {
        padding: 0 30px;
    }

    .toggleMenu {
        display: flex;
        align-items: center;
    }

    .navbarDesktop {
        display: none;
    }
}