.logo {
    display: flex;
    align-self: flex-start;
    width: 12rem;
    height: auto;
    align-items: center;
}

.mainIcons {
    border:1px solid #6a09b5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.rightIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    padding-right: 25px;
}

.cart {
    height: 1.3rem;
    width: auto;
    padding-right: 20px;
}