.logo {
    width: 12rem;
}

.mainIcons {
    border:1px solid #6a09b5;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.toggleMenu {
    display: none;
}

.rightIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    padding-right: 25px;
}

.cart {
    height: 1.3rem;
    padding-right: 20px;
}

.headerMobile {
    display: none;
}

@media screen and (max-width:769px){

    .rightIcons {
        display: none;
    }

    .mainIcons {
        padding: 0 20px;
    }

    .toggleMenu {
        display: block;
        bottom: 80px;
    }

    .navbarDesktop {
        display: none;
    }
}