.searchBox{
    border:1px solid #6a09b5;
    background-repeat: no-repeat;
    background-position: 10px center;
    height: 50px;
}

.searchIcon {
    height: 2rem;
}

.searchAll {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 13rem;
    justify-content: center;
}