.searchBox{
    border: 1px solid #6a09b5;
    height: 40px;
    width: 200px;
    padding: 0 40px;
    margin-right: 20px;
}

.searchIcon {
    position: absolute;
    width: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.searchAll {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.searchAll img {
    cursor: pointer;
}