.purpleBox {
    height: 30px;
    width: auto;
    background-color: #6A09B5;
}

.fbIcon, .twIcon, .igIcon {
    height: 20px;
    width: auto;
    border: 1px solid green;
}

.smIcons {
    display: flex;
    justify-content: space-between;
    align-items: left;
    justify-items: center;
    border: 1px solid orange;
    width: auto;
    position: relative;
    padding: 0 1rem 0 1rem;
    right: 0px;
}